/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --primary: #006a4e;
  --accent: #f42a41;
  --bg: #f8f5f0;
  --text: #1e1e1e;
}

/* BODY */
body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
}

/* HEADINGS */
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

/* NAVBAR */
.navbar {
  position: absolute;
  width: 100%;
  top: 20px;
  z-index: 1000;
}

.navbar-container {
  width: min(100%, 1200px);
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 20px;

  background: rgba(248, 245, 240, 0.12);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
  width: 70px;
}

/* MENU */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: var(--bg);
  font-weight: 500;
  transition: 0.2s;
}

.nav-menu a:hover {
  color: var(--primary);
}

/* TOGGLE */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);

  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 999;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("../images/hero-1.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.169);
}

.hero-container {
  text-align: left;
  width: min(100%, 1200px);
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.hero-container h1 {
  max-width: 700px;
  font-size: 52px;
}

.hero-container p {
  margin-top: 15px;
  font-size: 18px;
}

/* liberation war */
.liberation {
  width: min(100%, 1200px);
  margin: 60px auto;
  padding: 20px;
}

.liberation-container {
  height: 600px;
}

.liberation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.liberation-content h2,
li,
h1 {
  margin: 20px 0;
}

.liberation-image {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.liberation-image img {
  width: 300px;
  height: 300px;
  transition: 0.5s;
}

.liberation-image img:hover {
  transform: scale(1.1);
}

.primary-btn {
  background-color: var(--primary);
  color: var(--bg);
  padding: 12px 22px;
  border-radius: 5px;
  border: none;
}

.primary-btn:hover {
  background-color: var(--accent);
}

/* timeline section */
.timeline-section {
  background-color: white;
  padding: 100px 20px;
}
.timeline-container {
  width: min(100%, 1200px);
  margin: 0 auto;
}

.section-header {
  text-align: start;
  margin-bottom: 50px;
}

.timeline-nav {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 50px;
}

.timeline-btn {
  border: none;
  background: #ffffff;
  padding: 12px 24px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.timeline-btn.active {
  background: var(--primary);
  color: white;
}

.timeline-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.timeline-image img {
  width: 100%;
  border-radius: 16px;
  display: block;
}

.timeline-info span {
  color: var(--accent);
  font-weight: 600;
}

.timeline-info h3 {
  margin: 15px 0;
  font-size: 2rem;
}

.timeline-info p {
  line-height: 1.8;
}

/* gallery Section */
.gallery-section {
  width: min(100%, 1200px);
  margin: 0 auto;
  padding: 100px 20px;
}

.section-header {
  text-align: start;
  margin-bottom: 40px;
}

.gallery-filter {
  display: flex;
  justify-content: start;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.filter-btn {
  border: none;
  background: white;
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.filter-btn.active {
  background: var(--primary);
  color: white;
}

/* Masonry */
.gallery-grid {
  column-count: 3;
  column-gap: 20px;
}

.gallery-item {
  position: relative;
  margin-bottom: 20px;
  break-inside: avoid;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  display: block;
  border-radius: 12px;
  transition: 0.4s;
}

.gallery-item:hover img {
  transform: scale(1.03);
}

/* Play Icon */
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 60px;
  height: 60px;

  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 20px;
}
.lightbox {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.9);

  display: none;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.lightbox.active {
  display: flex;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
}

.close-lightbox {
  position: absolute;
  top: 30px;
  right: 30px;

  font-size: 40px;
  color: white;
  cursor: pointer;
}

/* contact and contribution */
.contact {
  background-color: white;
  padding: 100px 20px;
}

.contact-container {
  width: min(100%, 1200px);
  margin: 0px auto;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.contact-info {
  width: 50%;
}

.contact-info p {
  font-size: 30px;
  margin-bottom: 20px;
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact-form label {
  margin: 10px 0;
}

.contact-form input {
  width: 80%;
  margin-bottom: 10px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--bg);
}

.contact-form textarea {
  width: 80%;
  border: none;
  border-radius: 10px;
  background-color: var(--bg);
}

.submit {
  background-color: var(--primary) !important;
  color: var(--bg) !important;
  font-size: 20px;
  text-align: center;
}

/* footer */
.footer {
  width: min(100%, 1200px);

  margin: 0 auto;
  padding: 40px 10px;
  color: var(--text);
}

.footer-container {
  display: flex;
  justify-content: space-between;
}


.footer-logo {
  width: 100px;
}

.quick-links a, li{
  text-decoration: none;
  list-style: none;
  color: var(--text);
}

.column-one {
  width: 400px;
}

.copyrights {
  text-align: center;
  margin-bottom: 20px;
}

/* MOBILE SIDEBAR */
@media (max-width: 768px) {
  .navbar {
    top: 0px;
  }
  .menu-toggle {
    margin-left: auto;
    display: block;
    text-align: right;
  }
  .nav-menu a {
    color: var(--text);
  }
  .nav-menu li {
    background-color: var(--primary);
    margin: 5px 0;
    padding: 10px;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    left: -260px;

    width: 250px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 25px;

    padding: 80px 20px;

    background: #f8f5f0;

    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);

    transition: 0.3s ease;
    z-index: 1000;
  }
  .navbar-container {
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu.active {
    left: 0;
  }

  .hero-container h1 {
    font-size: 32px;
  }

  /* liberation Section */
  .liberation {
    width: 100%;
    padding: 10px;
  }
  .liberation-container {
    height: auto;
  }
  .liberation-content {
    flex-direction: column;
  }
  .liberation-image {
    grid-template-columns: auto;
  }
  .liberation-image img {
    width: 100%;
  }
  /* timeline section */
  .timeline-content {
    grid-template-columns: 1fr;
  }

  .timeline-info h3 {
    font-size: 1.5rem;
  }
  .gallery-grid {
    column-count: 1;
  }
  /* contact forms */
  .contact-container {
    width: 100%;
  }
  .contact-content {
    flex-direction: column-reverse;
    align-items: start;
    margin-top: 20px;
    
  }
  .contact-info {
    width: 100%;
  }
  .contact-info p{
    font-size: 20px;
  }
  .contact-form {
    width: 100%;
  }
  .contact-form input {
    width: 100%;
  }
  .contact-form textarea {
    width: 100%;
  }

  /* footer */
  .footer-container {
    flex-direction: column;
    gap: 20px;
  }
  
}

@media (max-width: 992px) {
  .gallery-grid {
    column-count: 2;
  }
}
